* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.quote {
  background-color: #f15e57;
  color: #f0d8d9;
}

.quote__heading h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17.86px;
  padding: 67px 0 30px;
}

.quote__heading p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
}