* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.quote {
  background-color: #f15e57;
  color: #f0d8d9;
}

.quote__heading h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17.86px;
  padding: 67px 0 30px;
}

.quote__heading p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.quote__contacts h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 17.86px;
  padding-bottom: 15px;
  letter-spacing: 0.04em;
}

.quote__contacts p {
  font-size: 12px;
  line-height: 21.56px;
  letter-spacing: 0.04em;
}

.quote__contacts ul {
  list-style-type: none;
  padding-top: 30px;
}

.quote__form input {
  width: 620px;
  padding: 12px;
  background-color: #d6564f;
  border: 1px solid transparent;
  margin-bottom: 16px;
}

.quote__form textarea {
  width: 620px;
  padding: 12px;
  background-color: #d6564f;
  border: 1px solid transparent;
}

input::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

input:-moz-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

textarea::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

textarea:-moz-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

.quote__flex-container {
  padding: 48px 0 72px;
  display: flex;
}