* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
}

.portfolio__heading h2,
.about-us__heading h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17, 86px;
  color: #666d89;
  padding: 65px 0 30px;
}

.portfolio__heading p,
.about-us__heading p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.portfolio__filter-list {
  display: flex;
  list-style-type: none;
  padding: 15px 0;
}

.portfolio__filter-list a {
  color: #666d89;
  text-decoration: none;
  font-size: 12px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #666d89;
}

.portfolio__filter-list a:hover {
  color: #d3d4d8;
  border: 1px solid #d3d4d8;
}

.portfolio__filter-list li {
  padding-right: 10px;
}

.portfolio__images {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 70px;
}

.portfolio__images-item {
  width: 220px;
  height: 187px;
}

.about-us__people {
  display: flex;
  padding: 55px 0 70px;

}

.about-us__people-item h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  padding: 15px 0;
}

.about-us__people-item p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  padding-bottom: 30px;
}

.about-us__people-links {
  display: flex;
  list-style-type: none;
}

.about-us__people-links li {
  width: 32px;
  height: 32px;
  border: 1px solid #767e9e;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  color: #666d89;
  margin-right: 10px;
}

.about-us__people-links li:hover {
  color: #e83d27;
  border: 1px solid #e83d27;
  cursor: pointer;
}

.portfolio__images-item img {
  width: 100%;
  height: 100%;
}