* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
}

.portfolio__heading h2, .about-us__heading h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17,86px;
  color: #666d89;
  padding: 65px 0 30px;
}

.portfolio__heading p, .about-us__heading p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
  color: #666d89;
}

.portfolio__filter-list {
  display: flex;
  list-style-type: none;
  padding: 15px 0;
}

.portfolio__filter-list a {
  color: #666d89;
  text-decoration: none;
  font-size: 12px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #666d89;
}

.portfolio__filter-list a:hover {
  color: #d3d4d8;
  border: 1px solid #d3d4d8;
}

.portfolio__filter-list li {
  padding-right: 10px;
}

.portfolio__images {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 70px;
}

.potrfolio__images-item {
  width: 220px;
  height: 187px;
  border: 1px solid red;
}