* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.quote {
  background-color: #f15e57;
  color: #f0d8d9;
  border-bottom: 6px solid #ea676b;
}

.quote__heading h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 17.86px;
  padding: 67px 0 30px;
}

.quote__heading p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.quote__contacts h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 17.86px;
  padding-bottom: 15px;
  letter-spacing: 0.04em;
}

.quote__contacts p {
  font-size: 12px;
  line-height: 21.56px;
  letter-spacing: 0.04em;
}

.quote__contacts ul {
  list-style-type: none;
  padding-top: 30px;
}

.quote__form input {
  width: 620px;
  padding: 12px;
  background-color: #d6564f;
  border: 1px solid transparent;
  margin-bottom: 16px;
  border-radius: 4px;
}

.quote__form textarea {
  width: 620px;
  padding: 12px;
  background-color: #d6564f;
  border: 1px solid transparent;
  border-radius: 4px;
}

input::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

input:-moz-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

textarea::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

textarea:-moz-placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
}

.quote__flex-container {
  padding: 48px 0 72px;
  display: flex;
}

.footer {
  background-color: #2d303a;
  color: #666d89;
}

.footer__links ul {
  list-style-type: none;
  display: flex;
}

.footer__links li {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

.footer__links li:hover {
  color: #d6564f;
  border: 1px solid #d6564f;
  cursor: pointer;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}